@font-face {
    font-family: 'Neo Sans Pro Medium';
    src: url('fonts/NeoSansPro/NeoSansPro-Medium.ttf') format('truetype-aat'),
    url('fonts/NeoSansPro/NeoSansPro-Medium.ttf') format('truetype-aat');
}
@font-face {
    font-family: 'Neo Sans Pro';
    src: url('fonts/NeoSansPro/NeoSansPro-Regular.ttf') format('truetype-aat'),
    url('fonts/NeoSansPro/NeoSansPro-Regular.ttf') format('truetype-aat');
}
@font-face {
    font-family: 'Francker CYR Medium';
    src: url('fonts/FranckerCYR/FranckerCYR-Medium.otf') format('opentype'),
    url('fonts/FranckerCYR/FranckerCYR-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Francker CYR';
    src: url('fonts/FranckerCYR/FranckerCYR-Regular.otf') format('opentype'),
    url('fonts/FranckerCYR/FranckerCYR-Regular.otf') format('opentype');
}